body {
    margin: 0;
    background-color:cadetblue;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:darkcyan;
    padding: 15px;
}

.main-app {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: cadetblue;
    padding: 25px;
}

#addBookBtn {
    padding: 5px;
    width: 150px;
    height: 50px;
    background-color:cornsilk;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

.library {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    height: 300px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    background-color:cornsilk;
}

.bookCard * {
    margin: 5px;
}

#bookForm {
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    max-width: 300px;
    padding: 20px;
    background-color:cornsilk;
}

#status-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.input:focus {
    outline: none;
    border-color: black;
  }

form * {
    margin: 2px;
}